<footer id="main-footer">
    <div id="footer-container">
        <div id='company-social-link'>
            <ul>
                <li><a href="https://www.facebook.com/Legacyrebuildproperties/?eid=ARCoo9t0zcZi_pgrhxNdh8mQeCZ2dYqyQotNotZsS_sFnecEZlEs6TuPZsNS3uVtlCX7cmEiKZXMkFIn"><img src="img/facebook.png"></a></li>
                <li><a href="https://www.instagram.com/legacyrebuildproperties/"><img src="img/insta.png"></a></li>
                <li><a href="https://www.youtube.com/channel/UCpLeUSyEWplM6rmiYD5L-Xg/videos?view_as=subscriber"><img src="img/youtube.png"></a></li>
            </ul>
        </div>
        <div class='nav-footer'>
            <ul>
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/properties">Properties</a></li> -->
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/blog">Blog</a></li> -->
                <li><a href="/contact">Contact</a></li>
                <li><a href="/welcome">Partners</a></li>
            </ul>
        </div>
        <div class='address-footer'>
            <ul >
                <li>Fort Worth, Texas 76177 United States</li>
                <li>(817) 888-8285</li>
            </ul>
        </div>
        <div class='copyright'>
            <p>Copyright © 2020 Legacy Rebuild Properties, LLC - All Rights Reserved.</p>
        </div>
    </div>
</footer>
