    <header id="main-header">

        <div id="main-nav">
            <h1 id="company-name"><span class="legacy-title">Legacy</span><span class="rebuild-title">Rebuild</span>Properties</h1>
            <nav id="mobile-nav">
                <div id="hamburger" onclick="hamburger()">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul id="mobile-nav-list">
                    <div id='mobile-link-nav'>
                        <li class="mobile-links  nav-list-links"><a href="/">Home</a></li>
                        <!-- <li class="mobile-links  nav-list-links"><a href="/properties">Properties</a></li> -->
                        <li class="mobile-links  nav-list-links"><a href="/about">About</a></li>
                        <li class="mobile-links  nav-list-links"><a href="/blog">Blog</a></li>
                        <!-- <li class="mobile-links  nav-list-links"><a href="/faq">FAQ</a></li> -->
                        <li class="mobile-links nav-list-links"><a href="/contact" >Contact</a></li>
                        <div class='exit' onclick='exit()'>
                            <img src="/img/plus.png">
                        </div>
                    </div>
                </ul>
            </nav>
            <nav id="desktop-nav">
                <ul id="desktop-nav-list">
                    <li class="desktop-links  nav-list-links"><a href="/">Home</a></li>
                    <!-- <li class="desktop-links  nav-list-links"><a href="/properties">Properties</a></li> -->
                    <li class="desktop-links  nav-list-links"><a href="/about">About</a></li>
                    <!-- <li class="desktop-links  nav-list-links"><a href="/blog">Blog</a></li> -->
                    <li class="desktop-links  nav-list-links"><a href="/contact" class='contact-modal-nav-link'>Contact</a></li>
                    <li class="desktop-links contact-link nav-list-links"><a href="/welcome">Partners</a></li>
                </ul>
            </nav>
        </div>
    </header>