<div id="main-bg-header">
    <img src="img/home-img.jpg" alt="">
    <div class="main-bg-header-content">
        <h2>TIME TO REBUILD YOUR LEGACY</h2>
        <p>Call us today to get a competitive cash<br> offer for your home</p>
        <a href="#" class='header-content-btn'>Contact Us</a>
    </div>
</div>
<main>

    <div id="main-property-wrapper">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <h2 id="properties-section-title">Properties</h2>
            <div class="swiper-wrapper">
                <!-- Slides -->
                    <% properties.forEach(property => { %>
                        <div class="swiper-slide">
                            <div id="properties-section">
                                <div id="property-listing">
                                    <img class='property-listing-img' src="img/prop.jpg" alt="living Room">
                                    <div class="property-listing-content">
                                        <ul id="properties-detail">
                                            <div>
                                                <il><img class='house-icon' src="img/home-run.png" alt="house"></il>
                                                <il class="bedInfo"><span><%= property.bed%></span>Beds</il>
                                                <il class="bathInfo"><span><%= property.bath%></span>Baths</il>
                                            </div>
                                            <il class='square-feet'><%= property.footage%><span>ft<sup>2</sup></span></il>
                                        </ul>
                                        <ul class='btn-container'>
                                            <li><a href='#contact-section'><button>contact</button></a></li>
                                            <!-- <li><a href="/properties"><button>More</button></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                   <% }); %>
            </div>
        
            <!-- If we need navigation buttons -->
        </div>
        <div id='swiper-nav-btn'>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!-- ! end of main-property-wrapper -->
    <div id="about-section">
        <h2>About</h2>
        <p>Hello, we are Monica and Shawn, and we are on a mission to reach out and help as many distressed homeowners as possible. Over the years, we have become experts on educating and assisting homeowners through their foreclosure process. With all the constant changes from day to day occurring in the banking industry, you, the Homeowner, need someone you can trust to offer you open and honest advice to aid you in making the right decision at such a life-altering moment. The best part about our mission is our advice is 100% free to you as the homeowner. If you have any questions about your current situation and would like to speak with a local expert for friendly advice, please give us a call right away!</p>
        <a href="/about"><button id='about-tab'>Learn More</button></a>
    </div>
    <div id="contact-section">
        <div>
            <h2>Contact Us</h2>
            <form action="/send" method="POST">
                <div class='form'>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" name='fname' placeholder="enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" name="email" id="email" placeholder="enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="tel" name="phone" id="phone" required>
                    </div>
                    <div class="form-group text-area">
                        <label for="">How can we help?</label>
                        <textarea name="text" id="" cols="5" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="submit-btn">Contact Us</button>
                </div>
            </form>
        </div>
        <div class="faq-section">
            <h2>Frequently Asked<br> Questions</h2>
            <ul>
                <li>
                    <div class="faq-btn">
                        Who typically sells us their home?
                        <p>+</p>
                    </div>
                    <div class="panel">
                        <p>People from all walks of life sell to us, but they all share one thing in common: They want to sell their house to a trusted professional, who can make them an immediate cash offer, and close quickly; while ensuring integrity during the entire process.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-btn">Will you pay market value for my home? <p>+</p></div>
                    <div class="panel">
                        <p>Our company is, first and foremost, tenured real estate investors. We invest tons of time and upfront money to renovate homes, and we only make a profit once we sell the home in its updated condition (a high risk at times). Once our team has evaluated the condition of your home, we will then make a competitive, no-obligation cash offer based on the current market value of your home after a successful renovation, discounting all associated renovation costs.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-btn">Do you buy condos, manufactured, and other types of homes?<p>+</p></div>
                    <div class="panel">
                    <p>Yes! We even buy townhouses, duplexes, and multi-tenant buildings.</p>
                    </div>
                </li>
                <li>

                <div class="faq-btn">Do you charge a fee for visiting my house and making an offer?
                    <p>+</p>
                    </div>
                    <div class="panel">
                        <p>*NO! We will provide you with a completely free estimate.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-btn">Do I need to fix anything in my home before selling it to you?
                    <p>+</p>
                    </div>
                    <div class="panel">
                    <p>No. If you are selling your home to Legacy Rebuild Properties, LLC, you will NEVER have to repair anything as we will buy your home “as is” no questions asked. We assume all risk associated with buying your home in an “as is” condition and will even notate it in writing.</p>
                    </div>
                </li>
                <li>
                    <div class="faq-btn">What if I have more questions before deciding to sell -my home?
                    <p>+</p>
                    </div>
                    <div class="panel">
                    <p>Please feel free to contact us and discuss any additional questions over the phone, we love speaking with clients and helping them feel at ease during the process of selling us their home. You can send us your question(s) online or call us directly: 817-888-8285.</p>
                    </div>
                </li>
                <li class='caution'>
                    <p>*Due to certain Covid-19 restrictions, we reserve the right to request recent pictures, and/or videos of your property, instead of visiting in person to prevent having to enter your home.</p>
                </li>
            </ul>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>