//  defualt settings
@import 'partials/config';

// glider
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
li {
    list-style-type: none;
}
a {
    color: color(mainColor);
    text-decoration: none;
}
h1 {
    font-size: 1.2rem;
}
h2 {
    font-size: 2em ;
}
img {
    height: 100%;
    width: 100%;
}
button {
    outline: none;
    height: 2.5rem;
    width: 10rem;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background-color: color(accentTwo);
        transition: all .5s;
        border: 1px solid color(white);
        color: color(white);
    }
}

// homepage
main {
    min-height: calc(80vh - 211px - 58px);
}
// slider instrustion
.glide__slide {
    transition:  .3s linear;
    transform: scale(.9);
}
.glide__slide--active {
    opacity: 1;
    filter: none;
    transform:  scale(1);
}
.glide__slides {
    overflow: visible;
}

.glide__arrows {
   display: flex;
   justify-content: center;
   margin: 3em auto;
}
.glide__arrow {
    background: none;
    height: 3em;
    width: 100px;
    margin: 0 1em;
}

// properties listing
#main-property-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
#properties-section {
    margin: 0 auto;
    max-width: 470px;


    #properties-section-title {
        text-align: center;
        margin-bottom: 1em;
    }


    #property-listing {
        width: 90%;
        height: 100%;
        margin: 0 auto;


        .property-listing-content {

            .btn-container {
                height: 100px;
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border-radius: 90px;

                li:nth-child(1) button {
                    background-color: color(accentOne);
                    color: color(white);
                    border: blue;

                    &:hover {
                        background-color: color(white);
                        color: color(mainColor);
                        border: 1px solid color(mainColor);
                    }
                }
            }
        }



        .address, .price {
            margin-bottom: .5em;
        }
        .price span {
            margin-left: .5em;
            font-size: .7em;
            font-weight: 100;
        }

        .property-listing-img {
            border-radius: 10px;
            margin-bottom: 1em;
            object-fit: cover;
        }



        #properties-detail {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .house-icon,.bedInfo, .bathInfo {
                margin: 0 1em 0 0;
            }
            .bedInfo span, .bathInfo span {
                margin: 0 .5em 0 0;
            }

            .house-icon {
                height: 20px;
                width: 20px;
                object-fit: cover;
            }
        }


    }


}


// about section
#about-section {
    width: 100%;
    max-width: 1400px;
    margin: 5em auto 10em;
    padding: 1.5em;
    text-align: center;
    color: color(white);
    background-color: color(accentOne);

    h2 {
        margin-bottom: 1em;
    }
    p {
        max-width: 600px;
        margin: 0 auto;
    }
    button {
        border: 1px solid color(white);
        margin-top: 2em;
        // background-color: color(accentTwo);
        color: color(mainColor);
    }
}





// contact section
#contact-section {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto 5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20%;
    h2 {
        text-align: center;
    }
    form {
        margin: 0 auto;
       max-width: 450px;
    }
    .form-group{
        width: 100%;
        max-width: 450px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        label {
            align-self: end;
        }
        input {
            height: 3em;
            border: 1px solid color(mainColor);
            border-radius: 2px;
            padding-left: 1em;
            font-size: .9em;

            &:focus {
                border: 1px solid color(accentTwo);
                transition: all .1s ease .1s;
            }
        }
        textarea {
            resize: none;
            border: 1px solid color(mainColor);
            border-radius: 2px;
            font-size: 1em;
            padding: 1em;

            &:focus {
                border: 1px solid color(accentTwo);
                transition: all .1s ease .1s;
            }
        }
    }
    .text-area {
        height: 150px;
    }
    .submit-btn {
        width: 100%;
        margin: 3em auto;
        border-radius: 2px;
    }
    .faq-section {
        max-width: 450px;
        margin:1em auto;
        h2 {
            margin-bottom: 1em;
        }
        .faq-btn {
            img {
                margin-left: 2em;
            }
        }
    }

}
@media screen and (min-width: screen(tablet)) {
    #contact-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .faq-section {
        margin: 0 auto !important;
    }
}

// layout
@import 'partials/header';
@import 'partials/footer';
@import 'partials/about';
@import 'partials/properties';
@import 'partials/faq';
@import 'partials/blog';
@import 'partials/partner';
@import 'partials/contact';
@import 'partials/login';
@import 'partials/dashboard';
// popup
@import 'partials/modal';