#main {
    min-height: calc(100vh - 211px - 3px);
    text-align: center;
}

.about-us-container {
    width: 90%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    .about-us-container-content {
        margin: 3em 0;
        max-width: 470px;
        text-align: center;
        justify-self: center;

        h1  {
            margin: .5em 0 1em;
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        p {
            text-align: center;
        }
        
    }
}

@media screen and (min-width: screen(tablet) ) {
    .about-us-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;

        .about-us-container-content {
            margin: 3em 1em;
        }
    }
}