#main-faq {
    min-height: calc(100vh - 211px - 3px);
    text-align: center;

    #faq-container {
        width: 90%;
        max-width: 800px;
        height: 100%;
        margin: 0 auto;

        h2 {
          margin: 1em 0;
        }
    }
}
.faq-btn {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 1.2em;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: all 1s ease 1s;
  }