#main-footer {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    background-color: color(accentOne);
    margin: 0 auto;
    #footer-container {
        height: 100%;
        width: 100%;
        padding: 2em;
        display: grid;
        text-align: center;
        color: color(white);
        a{
            color : color(white);
        }
        #company-name-footer {
            font-size: 2em;
            margin-bottom: 1em;
        }
        .nav-footer li {
            margin-bottom: .5em;
        }
        .address-footer {
            margin : 1em;
        }
        .copyright {
            padding: 1em;
            border-top: 1px solid rgb(255, 255, 255);
            font-size: .8em;
        }
    }
}

@media screen and (min-width: screen(tablet)) {

    #footer-container {

        display: grid;
        grid-template-columns: 200px 2fr 200px ;
        grid-template-rows: 1fr;
        justify-content: space-evenly;


        #company-name-footer {
            grid-row: 1/2;
            grid-column: 1/2;
            margin: 0;
            align-self: end;
        }
        .nav-footer  {
            grid-row: 1/2;
            grid-column: 2/3;
            li {
                display: inline-block;
                margin: 1em;
            }

        }
        .address-footer {
            grid-row: 1/2;
            grid-column: 3/4;
            margin-top: 0 !important;
        }
        .copyright {
            height: 10px;
            grid-row: 4/5;
            grid-column: 1/4;
        }
    }
}
