// header
#main-header {
    height: 100%;
    width: 100%;
}

#main-bg-header {
    height: 600px;
    width: 100%;
    margin-bottom: 5em;
    position: relative;

    img {
        object-fit: cover;
        opacity: .7;
    }
    .main-bg-header-content {
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
        text-align: center;
        color: rgb(0, 0, 0);

        p {
            margin-bottom: 1em;
        }
        a.header-content-btn {
            padding: .5em 2em;
            background: color(accentOne);
            color: color(white);
            border-radius: 2px;
            border: 1px solid color(accentOne);
            &:hover {
                transition: all .5s ease;
                background: none;
                color: color(mainColor);
                border: 1px solid color(accentOne);
            }
        }
    }
}


#main-nav {
    height: 50px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    #company-name {
        text-transform: uppercase;
        margin-left: -.5em;
    }
    span.legacy-title {
        color: color(accentOne);
    }
    span.rebuild-title {
        color: color(accentTwo);
    }
    .legacy-title, .rebuild-title {
        margin-right: 3%;
    }
}

// mobile nav
#mobile-nav {
    position: relative;


    #hamburger {
        width: 10px;
        cursor: pointer;



        .line {
            background-color: color(mainColor);
            height: 2px;
            width: 22px;
            margin-top: 3px;
            cursor: pointer;
        }
        .line:nth-child(1) {
            margin-top: 0;
        }
        .line:nth-child(3) {
            margin-bottom: 3px;
        }
    }
    ul {
        display: none;
    }
}


// desktop nav
#desktop-nav {
    display: none;
}


@media screen and (min-width: screen(tablet)) {
    #mobile-nav {
        display: none;
    }

    #desktop-nav {
        display: block;

        #desktop-nav-list {
            display: inline-block;


            .desktop-links {
                display: inline-block;
                margin-right: 1em;
                a {
                    position: relative;
                }
                a:before,
                a:after {
                    transition: all .5s;
                }
                a:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: -.5em auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: color(accentTwo);
                    height: 1px;
                }
                a:hover:after {
                    width: 100%;
                }
                a:hover {
                    color: color(accentTwo);
                    transition: all .5s;
                }
            }
            .contact-link {
                margin-right: 0;
            }
        }
    }
}