#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10em 2em;
    div {
        width: 100%;
        height: 100%;
        h2 {
            text-align: center;
        }
    }
}

form {
    margin: 0 auto;
    max-width: 450px;
}
.form-group{
    width: 100%;
    max-width: 450px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    label {
        align-self: end;
    }
    input {
        height: 3em;
        border: 1px solid color(mainColor);
        border-radius: 2px;
        padding-left: 1em;
        font-size: .9em;

        &:focus {
            border: 1px solid color(accentTwo);
            transition: all .1s ease .1s;
        }
    }
    textarea {
        resize: none;
        border: 1px solid color(mainColor);
        border-radius: 2px;
        font-size: 1em;
        padding: 1em;

        &:focus {
            border: 1px solid color(accentTwo);
            transition: all .1s ease .1s;
        }
    }
}
.text-area {
    height: 150px;
}
.submit-btn {
    width: 100%;
    margin: 3em auto;
    border-radius: 2px;
}